<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  DirectoryIndex index.php index.html
  
  # Redirect generic index.html requests to root to avoid duplicates
  RewriteRule ^index\.html$ / [R=301,L]

  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.php [L]
</IfModule>
